header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    background-color: black;
}

#LogoName {
    height: 100%;
}

nav {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.navIcon {
    height: 80%;
    cursor: pointer;
}

main {
    height: calc(100dvh - 120px);
}

h1 {
    font-family: var(--Hammer), sans-serif;
    font-size: 3em;
    color: #5271ff;
    text-align: center;
    min-width: 300px;
    width: 500px;
}

#MainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
    gap: 10%;
    padding-top: 50px;
}

#Brand {
    width: 10%;
}

#InstructionContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5%;
    height: 50%;
    padding-top: 50px;
}

.Card {
    background-color: #ffffff;
    opacity: 70%;
    min-width: 300px;
    width: 20%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20%;
    text-align: center;
    padding: 20px 20px;
}

h2 {
    color: #5271ff;
}

#DownloadContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

label {
    background-color: #5271ff;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 2em;
    color: #ffffff;
    font-family: var(--Hammer);
}

#ImportantContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    color: #5271ff;
    font-size: 1.5em;
    text-align: center;
}

#Download {
    cursor: pointer;
}

span {
    font-weight: bold;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: black;
    color: #ffffff;
    font-size: 1.2em;
}

@media screen and (max-width: 500px) {
    main {
        height: fit-content;
    }
    
    .navIcon {
        height: 50%;
    }

    #Brand {
        width: 50%;
    }

    #MobileInverter {
        display: flex;
        flex-direction: column-reverse;
    }

    .Card {
        margin-bottom: 20px;
        height: 100%;
    }
}