@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Kaushan+Script&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  background-color: #2E2E2E;
}

:root {
  --Hammer: "Hammersmith One";
  --Kaushan: "Kaushan Script";
}